---
layout: default
title: Mincai Xu's home
---

<h1>简介</h1>
<p>
  我，一个web开发者， 聚焦于web开发， 痴迷于对计算机，网络，算法的研究。
</p>
<p>
  <a href="/showcase/">点击这里， 可以访问我的一些小作品。</a>
</p>


<div class="tags">
{% if site.tags != "" %}
  {% include archive.html %}
{% endif %}
</div>

<br />
<br />
<ul class="posts">
  {% for post in paginator.posts %}
    <li>
        <i class="icono-book"></i>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        &nbsp;&nbsp;
        <span class="date">{{ post.date | date_to_string }}</span>
        <div class="content">{{ post.content | strip_html | truncate: 150 }}<div>
    </li>
  {% endfor %}
</ul>

<br />
<br />

<!-- 分页导航 -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      上一页
    </a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">
    第 {{ paginator.page }} 页，共 {{ paginator.total_pages }} 页
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>

