<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
      {% include analytics.html %}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" href="/css/icono.min.css">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/demo">Showcase</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:1050636281@qq.com">email</a></li>
	        		<li><a href="https://github.com/xumc">github.com/xumc</a></li>
				</ul>
			</footer>
		</body>
	</html>
