<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
      {% include analytics.html %}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" href="/css/icono.min.css">
	    <link href="/css/prism.css" rel="stylesheet" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/showcase">Showcase</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:1050636281@qq.com">email</a></li>
	        		<li><a href="https://github.com/xumc">github.com/xumc</a></li>
				</ul>
			</footer>
			<script src="/js/prism.js"></script>
		</body>

		<div id="hackBg">
		</div>

		<script type="text/javascript">

			// function getRandomNum(min,max) {   
			// 	var range = max - min;   
			// 	var rand = Math.random();   
			// 	return(min + Math.round(rand * range));   
			// } 

			// var width = document.body.clientWidth;
			// var height = document.body.clientHeight;

			// var innerHTML = "";
			// for (var i = 0; i < 100; i++) {
			// 	var left = getRandomNum(0, width);
			// 	var right = getRandomNum(0, height);

			// 	innerHTML += "<div style=\"position: absolute; left: "  + left + "px; top: " + right + "px; color: white;z-index: -1000\"><span>0</span></div>";
			// }

			// document.getElementById("hackBg").innerHTML = innerHTML;
		</script>
	</html>
